/* Markenfarben */
.my-nav-color {
    background-color: #203952 !important;
}

.my-nav-text {
    color: #EDC353 !important;
    font-weight: bold;
}

/* Verhindert den Standard-Hover-Effekt */
.w3-bar-item.w3-button:hover {
    background-color: #2a4a6a !important; /* für den Hover Effekt */
    color: #EDC353 !important;
}

/* Standartschrift */
body {
    font-family: "Segoe UI", Arial, sans-serif;
}